@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Montserrat", sans-serif;
  background-color: #0e0e0e;
  transition: all 0.4s ease;
}
@media screen and (min-width: 768px) {
  body {
    background: url(../images/bg-body/bg-dark-768px.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) {
  body {
    margin: 0 auto;
    background: url(../images/bg-body/bg-dark-1280px.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.no-scroll {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.dark-mode {
  background-color: #ffffff;
}
.dark-mode .event__info-date, .dark-mode .event__info-place {
  color: black;
}
@media screen and (min-width: 768px) {
  .dark-mode {
    background: url(../images/bg-body/bg-light-768px.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) {
  .dark-mode {
    margin: 0 auto;
    background: url(../images/bg-body/bg-light-1280px.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.navigation {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-top: 80px;
    margin-bottom: 0;
    margin-left: 216px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .navigation {
    display: flex;
    margin: 0;
  }
}
@media screen and (min-width: 320px) {
  .navigation__item {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__item {
    width: auto;
    margin-right: 40px;
  }
}
.navigation__link {
  text-decoration: none;
  color: inherit;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .navigation__link {
    font-size: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #0e0e0e;
  }
}
.navigation__link:hover, .navigation__link:focus {
  color: #dc56c5;
}

.header {
  width: 100%;
  height: 364px;
  background: url(../images/header-bg/header-320px.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header-bg/header-2X-320px.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header {
    background: url(../images/header-bg/header-768px.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header-bg/header-2X-768px.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header {
    margin: 0 auto;
    height: 446px;
    background: url(../images/header-bg/header-1280px.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header-bg/header-2X-1280px.jpg);
  }
}

.header__logo {
  position: absolute;
  top: 0px;
}

.header__title {
  padding-top: 78px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 212px;
  font-weight: 900px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #dc56c5;
}
@media screen and (min-width: 768px) {
  .header__title {
    padding-top: 40px;
    width: 353px;
    font-size: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .header__title {
    width: 589px;
    font-size: 50px;
    white-space: inherit;
  }
}

.btn-theme-switcher {
  float: right;
  top: 12px;
  right: 20px;
  padding: 8px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-theme-switcher:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing-button-85 20s linear infinite;
          animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@-webkit-keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.btn-theme-switcher:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(94, 90, 90);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.search-form {
  margin: 0 auto;
  width: 608px;
  margin-top: 21px;
  display: flex;
}

.search-input,
.search-input-country {
  width: 288px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 20px;
}

.buy-btn {
  display: block;
  width: 145px;
  height: 40px;
  padding: 10px 19px;
  text-align: center;
  cursor: pointer;
  border-color: transparent;
  border-radius: 5px;
  background-color: #4c00fe;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.08em;
}
.buy-btn:hover, .buy-btn:focus {
  background-color: #ffffff;
  color: #4c00fe;
  border: 1px solid #4c00fe;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.more-btn {
  display: block;
  width: 230px;
  height: 40px;
  padding: 10px 3px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #4c00fe;
  border-radius: 5px;
  background-color: #ffffff;
  color: #4c00fe;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .more-btn {
    width: 255px;
    padding: 10px 15px;
  }
}
.more-btn:hover, .more-btn:focus {
  border-color: transparent;
  background: #4c00fe;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 31px;
}
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(141px, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 31px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
    grid-row-gap: 40px;
  }
}

.event__item {
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: rotateY 3s;
          animation: rotateY 3s;
}
.event__item:hover {
  transform: scale(1.05);
}

.event__img-wrapper {
  position: relative;
  margin-bottom: 8px;
  border-radius: 50px 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.event__img-wrapper::before {
  content: "";
  position: absolute;
  top: -9px;
  right: -10px;
  width: 120px;
  height: 112px;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0px;
}
@media screen and (min-width: 768px) {
  .event__img-wrapper::before {
    top: -10px;
    right: -11px;
  }
}
@media screen and (min-width: 1280px) {
  .event__img-wrapper::before {
    top: -19px;
    right: -21px;
    width: 227px;
    height: 212px;
  }
}

.event__item:hover .event__img-wrapper {
  box-shadow: 5px 5px 4px rgba(220, 86, 197, 0.5);
}
@media screen and (min-width: 1280px) {
  .event__item:hover .event__img-wrapper {
    box-shadow: 13px 10px 10px rgba(220, 86, 197, 0.5);
  }
}

.event__img {
  position: relative;
  aspect-ratio: 120/151;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50px 0;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

.event__info {
  text-align: center;
}

.event__info-name {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #dc56c5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .event__info-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
  }
}

.event__info-date {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .event__info-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
  }
}

.event__info-place {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .event__info-place {
    font-size: 14px;
    line-height: 1.2;
  }
}

.event__info-location {
  display: block;
  width: 6px;
  height: 9px;
  margin-top: 3px;
  margin-right: 3px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .event__info-location {
    width: 7.55px;
    height: 10px;
  }
}

.footer {
  color: #939393;
  padding-top: 60px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 59px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 57px;
    padding-bottom: 37px;
  }
}

.footer__txt {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__txt {
    font-size: 16px;
    line-height: 1.25;
  }
}

.footer__heart {
  -webkit-animation: heartbeat 1s infinite;
          animation: heartbeat 1s infinite;
  display: inline-block;
  color: red;
  font-size: 17px;
}

@-webkit-keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(1.5);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(1.5);
  }
}
.footer__link {
  text-decoration: none;
  color: #939393;
}

.footer__link:hover,
.footer__link:focus {
  color: red;
}/*# sourceMappingURL=index.css.map */