{{#each this}}
  <article class='event__item flip-in-hor-top'>
    <div class='event__img-wrapper'>
      {{#each this.images}}
        {{#if @first}}
          <img class='event__img' src='{{url}}' />
        {{/if}}
      {{/each}}
    </div>
    <div class='event__info'>
      <p class='event__info-name'>{{this.name}}</p>
      <p class='event__info-date'>{{this.dates.start.localDate}}</p>
      <p class='event__info-place'>
        <svg class='event__info-location'>
          <use href='/src/images/icons.svg#icon-location'></use>
        </svg>
        {{#each this._embedded.venues}}
          {{name}}
        {{/each}}
      </p>
    </div>
  </article>
{{/each}}