body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.2em;
  color: $white-color;
  background-color: #0e0e0e;
  transition: all 0.3s ease;

  @include tablet {
    font-size: 16px;
  }
}

.no-scroll {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.dark-mode {
  background-color: $white-color;
}
