body {
    font-family: $main-font;
    background-color: $title-color;
   
    transition: all .4s ease;

    @media screen and(min-width: 768px) {
        background: url(../images/bg-body/bg-dark-768px.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

    @media screen and (min-width: 1280px) {
        margin: 0 auto;
    
        // width: 1280px;
        background: url(../images/bg-body/bg-dark-1280px.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
  }
}

  .no-scroll {
    overflow: hidden;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  ul,
  ol {
    margin: 0;
    padding-left: 0;
  }
  
  button {
    cursor: pointer;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    // width: 100%;
  }

    .dark-mode {
      .event__info-date, .event__info-place{
        color: black;
      }
    background-color: $white-color;

    @media screen and(min-width: 768px) {
        background: url(../images/bg-body/bg-light-768px.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
    @media screen and (min-width: 1280px) {
        margin: 0 auto;
    
        background: url(../images/bg-body/bg-light-1280px.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
  }
  