@mixin mobile {
    @media screen and (min-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

@mixin upto-tablet {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin mobile-upto-desktop {
    @media screen and (max-width: 1279px) {
        @content;
    }
}

@mixin font($fw, $fs, $lh, $ls) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

@mixin link {
    text-decoration: none;
    color: inherit;
}

@mixin button {
    display: block;
    height: 48px;
    text-align: center;
    cursor: pointer;
    border: none;
    background: $accent-color;
    color: $white-color;
    text-transform: uppercase;
    @include font(700, 12px, 1.25, 0.08em);
    
    @include desktop {
        height: 70px;
        @include font(700, 14px, 1.215, 0.14em);
    }

    &:hover,
    &:focus {
        border: 2px solid $accent-color;
        background: none;
        color: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        @include transition;
    }
}

@mixin button-inverse {
    display: block;
    height: 48px;
    text-align: center;
    cursor: pointer;
    border: 2px solid $accent-color;
    background: none;
    color: $accent-color;
    text-transform: uppercase;
    @include font(700, 12px, 1.25, 0.08em);

    @include desktop {
        height: 70px;
        @include font(700, 14px, 1.215, 0.14em);
    }

    &:hover,
    &:focus {
        border: none;
        background: $accent-color;
        color: $white-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        @include transition;
    }
}

@mixin title {
    @include font(800, 20px, 1.3, 0.03em);
    color: $text-color;
    @include tablet {
        font-size: 26px;
    }
    @include desktop {
        font-size: 46px;
    }
}

@mixin transition {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}