$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$main-font: 'Montserrat', sans-serif;

$accent-color: #DC56C5;
$white-color: #FFFFFF;
$title-color: #0E0E0E;
$text-color: #0E0E0E;
$close-modal-color: #4C00FE;
$text-color-opacity: rgba(185, 185, 185, 0.5);
$accent-text-color: #DC56C5;