<section class="event">
  <div class="container event__container">
    <!-- <article class="event__item">
      <div class="event__img-wrapper">

        <img class="event__img" src="http://placekitten.com/200/300" />
      </div>
      <div class="event__info">
        <p class="event__info-name">Eurovision 2021 finals!</p>
        <p class="event__info-date">2021-05-13</p>
        <p class="event__info-place">
          <svg class="event__info-location">
            <use href="/src/images/icons.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </p>
      </div>
    </article>
    <article class="event__item">
      <div class="event__img-wrapper">

        <img class="event__img" src="http://placekitten.com/200/300" />
      </div>
      <div class="event__info">
        <p class="event__info-name">Eurovision 2021 finals!</p>
        <p class="event__info-date">2021-05-13</p>
        <p class="event__info-place">
          <svg class="event__info-location">
            <use href="/src/images/icons.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </p>
      </div>
    </article>
    <article class="event__item">
      <div class="event__img-wrapper">

        <img class="event__img" src="http://placekitten.com/200/300" />
      </div>
      <div class="event__info">
        <p class="event__info-name">Eurovision 2021 finals!</p>
        <p class="event__info-date">2021-05-13</p>
        <p class="event__info-place">
          <svg class="event__info-location">
            <use href="/src/images/icons.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </p>
      </div>
    </article>
    <article class="event__item">
      <div class="event__img-wrapper">

        <img class="event__img" src="http://placekitten.com/200/300" />
      </div>
      <div class="event__info">
        <p class="event__info-name">Eurovision 2021 finals!</p>
        <p class="event__info-date">2021-05-13</p>
        <p class="event__info-place">
          <svg class="event__info-location">
            <use href="/src/images/icons.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </p>
      </div>
    </article> -->
  </div>
  <div id="pagination" class="tui-pagination"></div>
</section>
