<form class="search_form js_search-form">
    <div class="search_block"><input class="search_input" type="text" name="query" autocomplete="off"
            placeholder="Start searching" />
        <button class="search_button" type="submit">
            <svg class="search_img" width="12" height="12" fill="none">
                <use href="/src/images/icons.svg#icon-search"></use>
            </svg>
        </button>
    </div>
    <select class="search_select" name="countrySelect">
        <option value="" disabled selected hidden>Choose country</option>
    </select>
</form>