<header class="header">
  <div class="theme-switcher">
    <button class="btn-theme-switcher">
      <svg class="btn-theme-switcher__icon" width="30px" height="20px">
        <use href="./images/icons.svg#icon-brightness-contrast"></use>
      </svg>
    </button>
  </div>
  <a href="index.html" class="header__logo">
    <picture>
      <source
        srcset="./images/header-logo/logo-1280px.png"
        media="(min-width:1280px)"
        type="image/png"
        width="229px"
        height="193px"
      />
      <source
        srcset="./images/header-logo/logo-768px.png"
        media="(min-width:768px)"
        type="image/png"
        width="180px"
        height="151px"
      />
      <source
        srcset="./images/header-logo/logo-320px.png"
        media="(max-width:767px)"
        type="image/png"
        width="107px"
        height="90px"
      />
      <img
        class="logo-img"
        src="./images/header-logo/logo-1280px.png"
        alt="Event Booster"
      />
    </picture>
  </a>
  <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
</header>
