.event {
  margin-top: 56px;

  @include tablet {
    margin-top: 80px;
  }

  @include desktop {
    margin-top: 120px;
  }
}

.event__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 31px;

  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax(141px, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 31px;
  }

  @include desktop {
    grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
    grid-row-gap: 40px;
  }
}

.event__item {
  cursor: pointer;
  @include transition;

  &:hover {
    transform: scale(1.05);
  }
  animation: rotateY 3s;
}

.flip-in-hor-top {
  -webkit-animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

.event__img-wrapper {
  position: relative;
  margin-bottom: 8px;
  border-radius: 50px 0;
  @include transition;

  &::before {
    content: '';
    position: absolute;
    top: -9px;
    right: -10px;
    width: 120px;
    height: 112px;
    border: 1px solid $card-line-decor;
    border-radius: 50px 0px;

    @include tablet {
      top: -10px;
      right: -11px;
    }

    @include desktop {
      top: -19px;
      right: -21px;
      width: 227px;
      height: 212px;
    }
  }
}

.event__item:hover .event__img-wrapper {
  box-shadow: 5px 5px 4px $card-box-shadow-hover;

  @include desktop {
    box-shadow: 13px 10px 10px $card-box-shadow-hover;
  }
}

.event__img {
  position: relative;
  aspect-ratio: 120 / 151;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50px 0;
  object-fit: cover;
  background-size: cover;
}

.event__info {
  text-align: center;
}

.event__info-name {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: $accent-color;
  text-align: center;

  @include tablet {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
  }
}

.event__info-date {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: $white-color;

  @include tablet {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
  }
}

.event__info-place {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: $white-color;

  @include tablet {
    font-size: 14px;
    line-height: 1.2;
  }
}

.event__info-location {
  display: block;
  width: 6px;
  height: 9px;
  margin-top: 3px;
  margin-right: 3px;
  color: $white-color;

  @include tablet {
    width: 7.55px;
    height: 10px;
  }
}


