.navigation {
    @include list;
    margin-top: 40px;
    margin-bottom: 40px;

    @include tablet {
        margin-top: 80px;
        margin-bottom: 0;
        margin-left: 216px;
        margin-right: auto;
    }

    @include desktop {
        display: flex;
        margin: 0;
    }

    &__item {
        @include mobile {
            width: 440px;
            margin-left: auto;
            margin-right: auto;
        }
        @include desktop {
            width: auto;
            margin-right: 40px;
        }
    }

    &__link {
        @include link;
        @include font(800, 20px, 1.8, 0.03em);
        @include tablet {
            font-size: 26px;
        }
        @include desktop {
            @include font(700, 14px, 1.214, 00.14em);
            text-transform: uppercase;
            color: $text-color;
        }

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
}