.event .tui-pagination {
  height: 30px;
}

.event .tui-pagination .tui-page-btn {
  width: 30px;
  height: 30px;
  color: $white-color;
  border: none;
  margin-left: 1px;
  margin-right: 1px;

  &:hover {
    border: 1px solid $accent-color;
    border-radius: 10px 0px;
    background: none;
    cursor: default;
  }
}

.event .tui-pagination .tui-is-selected,
.event .tui-pagination strong {
  color: #dc56c5;
  border: 1px solid #dc56c5;
  border-radius: 10px 0px;
  cursor: default;
  background: none;
}

.event .tui-pagination .tui-is-selected:hover {
  background-color: #dc56c5;
  color: #fff;
}

.event .tui-pagination .tui-first-child,
.event .tui-pagination .tui-prev-is-ellip,
.event .tui-pagination .tui-last-child,
.event .tui-pagination .tui-next-is-ellip,
.event .tui-pagination .tui-first-child.tui-is-selected,
.event .tui-pagination .tui-last-child.tui-is-selected {
  border: none;
}

.event .tui-pagination .tui-first,
.event .tui-pagination .tui-prev,
.event .tui-pagination .tui-next,
.event .tui-pagination .tui-last,
.event .tui-pagination .tui-prev-is-ellip,
.event .tui-pagination .tui-next-is-ellip {
  height: 30px;
  border: none;
}