.footer {
  color: #939393;
  background-color: $title-color;

  padding-top: 60px;
  padding-bottom: 24px;

  @include tablet {
    padding-top: 59px;
    padding-bottom: 40px;
  }

  @include desktop {
    padding-top: 57px;
    padding-bottom: 37px;
  }
}

.footer__txt{
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    @include tablet {
        font-size: 16px;
        line-height: 1.25;
      }
}

.footer__heart {
  color: red;
  font-size: 17px;
}

.footer__link {
  text-decoration: none;
  color: #939393;
}
.footer__link:hover,
.footer__link:focus{
    color: red;
}

