.search_form {
  margin: 0 auto;
  width: 608px;
  margin-top: 21px;
  display: flex;
}
.search_select,
.search_input {
  width: 288px;
  height: 40px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
}

.search_block {
  position: relative;
}

.search_button {
  position: absolute;
  right: 10px;
  top: 8px;
  border: 0;
  outline: none;
  z-index: 2;
}
