.search__form {
  margin: 0 auto;
  width: 608px;
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
}
.search__select,
.search__input {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 288px;
  height: 40px;
  padding: 10 10 10 32;
  color: #939393;
  $fw: 400;
  $fs: 16px;
  $lh: 20px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: none;
  outline: none;
}

.search__block {
  position: relative;
}

.search__button {
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 8px;
  border: 0;
  outline: none;
  z-index: 2;
}

// .search__select {
//   // position: relative;
//   background-image: url('https://img.icons8.com/material-two-tone/24/000000/give-way.png');
//   background-repeat: no-repeat, repeat;
//   background-position: right 1rem center;
//   -moz-appearance: none;
//   -webkit-appearance: none;
//   appearance: none;

//   background-size: 10px 12px;
// }

// !!!!!
.custom-select-container {
  background-size: 10px 12px;

  position: relative;
  box-sizing: border-box;
}
// .custom-select-container * {
//   box-sizing: border-box;
// }
// .custom-select-container.is-disabled {
//   opacity: 0.333;
// }
.custom-select-opener {
  background-image: linear-gradient(45deg, #0000 50%, gray 50%),
    linear-gradient(135deg, gray 50%, #0000 50%) !important;
  background-position: calc(100% - 34px) calc(1em + 2px),
    calc(100% - 26px) calc(1em + 2px), calc(100% - 2.5em) 0.5em !important;
  background-repeat: no-repeat !important;
  background-size: 8px 8px, 8px 8px, 1px 5.5em !important;

  right: 0;
  position: relative;
  z-index: 1;
  background-color: #ccc;
  padding: 0.5em;
  display: block;
  cursor: pointer;
  width: 100%;

  width: 288px;
  height: 40px;
  padding: 10 10 10 32;
  color: #939393;
  $fw: 400;
  $fs: 16px;
  $lh: 20px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: none;
  outline: none;
}

.custom-select-opener:focus {
  background-image: linear-gradient(45deg, #0000 50%, gray 50%),
    linear-gradient(135deg, gray 50%, #0000 50%) !important;
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em !important;
  background-size: 8px 8px, 8px 8px, 1px 5.5em !important;
  background-repeat: no-repeat !important;
}
.custom-select-container select {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.custom-select-panel {
  max-height: 0;
  transition: max-height 2s ease-out overflow-y 0.1s 0.5s;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 0 0 20px 20px;
  position: absolute;
  z-index: 1;

  width: 270px;
  height: 210px;
  left: 9px;
  top: 15px;
}
.custom-select-container.is-open .custom-select-panel {
  max-height: 10.7em;
  overflow-y: auto;
  z-index: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #cccccc;
}
.custom-select-option {
  padding: 1px 0px 1px 30px;
}
.custom-select-option.has-focus {
  background-color: #dc56c5;
}
.custom-select-option.is-selected::before {
  content: '✔';
  // padding-right: 1px;
}
.custom-select-optgroup > .custom-select-option {
  padding-left: 2em;
}
.custom-select-optgroup::before {
  content: attr(data-label);
  display: block;
  padding: 0.5em;
  color: #888;
}
