.search-form {
  margin: 0 auto;
  width: 608px;
  margin-top: 21px;
  display: flex;
}
.search-input,
.search-input-country {
  width: 288px;
  height: 40px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
}

.search-select {
}
