.header {
    width: 100%;
    height: 364px;

    background: url(../images/header-bg/header-320px.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:
            url(../images/header-bg/header-2X-320px.jpg);
    }


    @media screen and(min-width: 768px) {
        background: url(../images/header-bg/header-768px.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/header-bg/header-2X-768px.jpg);
        }
    }

    @media screen and (min-width: 1280px) {
        margin: 0 auto;

        max-width: 1280px;
        height: 446px;
        background: url(../images/header-bg/header-1280px.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/header-bg/header-2X-1280px.jpg);
        }
    }
}

.header__logo {
    position: absolute;
    top: 0px;
}

.header__title {
    padding-top: 78px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;

    width: 212px;

    font-weight: 900px;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;

    color: $accent-color;

    @media screen and (min-width: 768px) {
        padding-top: 40px;
        width: 353px;
        font-size: 30px;
    }

    @media screen and (min-width: 1280px) {
        width: 589px;
        font-size: 50px;
        white-space: inherit;
    }
}
.btn-theme-switcher {
    float: right;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-theme-switcher:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.btn-theme-switcher:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(94, 90, 90);
    left: 0;
    top: 0;
    border-radius: 10px;
}